# Every file requires review from @jykwon91 before merging.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @jykwon91
