myrestaurantreviews.165-245-134-251.sslip.io {
    header {
        Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
        X-Frame-Options "DENY"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin-when-cross-origin"
        -Server
    }

    handle /api/* {
        uri strip_prefix /api
        reverse_proxy 127.0.0.1:8001
    }

    handle {
        root * /srv/myrestaurantreviews/apps/myrestaurantreviews/frontend/dist
        try_files {path} /index.html
        file_server
    }
}
